@import "tailwindcss";

@theme {
  --color-dark-brown: oklch(0.1644 0.0106 52.68);
  --color-timber: oklch(0.3257 0.0615 55.51);
  --color-forest-floor: oklch(0.4821 0.0739 52.93);
  --color-earthy: oklch(0.6675 0.0927 66.71);
  --color-fern: oklch(0.9614 0.0444 107.21);
  --color-canopy: oklch(0.5903 0.048 120.64);
  --color-moss: oklch(0.5139 0.047 116.99);
  --color-deep-green: oklch(0.3151 0.0458 127.53);
  --color-deepwood: oklch(0.3239 0.0157 117.46);
  --color-dark-green: oklch(0.2036 0.0693 142.5);
}

:root {
  /* Colour scheme variables */
  --dark-brown: #120d0a;
  --timber: #4c2b12;
  --forest-floor: #7f5235;
  --earthy: #bb8954;
  --fern: #f5f5d3;
  --canopy: #798262;
  --moss: #656b4c;
  --deep-green: #2b361c;
  --deepwood: #33352c;
  --dark-green: #001e00;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fern);
  background-color: var(--deepwood);
  background-image: url("ivy_vine.png"), url("ivy_vine_mirror.png");
  background-repeat: no-repeat, no-repeat;
  background-position-x: 4%, 96%;
  background-position-y: 50%, 50%;
  background-size: 350px 900px, 350px 900px;
  background-attachment: fixed;
  background-blend-mode: multiply;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--timber);
  text-decoration: inherit;
}
a:hover {
  color: var(--forest-floor);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--deep-green);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--earthy);
  color: var(--fern);
  background-color: var(--timber);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media only screen and (max-width: 1000px) {
  :root {
    background-image: none !important;
  }
}
